# SpacetimeDB Configuration
SPACETIME_HOST=https://maincloud.spacetimedb.com
SPACETIME_PORT=443
SPACETIME_DATABASE=c2009532fc1fc554482aecff4e1b56027991d26aaf86538679ec83183140151a
SPACETIME_MODULE=beat-me
SPACETIME_IDENTITY=c2007dc6e3857303a80d6cf822ead75c1460957cfd14c51f5e168e9673e44b2b

# Lighthouse Configuration (add your API key here)
# LIGHTHOUSE_API_KEY=your_lighthouse_api_key_here

# Next.js Configuration
NODE_ENV=development
